body {
    background: #1f2124;
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: #D6D6D6;
    text-align: center;
}

h3 {
    text-align: center;
    color: #FFFFFF;
}

.divUsers {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Стилізація кожного користувача */
.divUser {
    height: 100px;
    margin: 5px 3%;
    background: #1b9aaa;
    border-radius: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.divUser:hover {
    transition: background-color 0.3s ease-out;
    background: #A9A9A9;
}

/* Стилізація кнопки про повну інформацію */
button {
    padding: 10px 20px;
    background-color: #A9A9A9;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.3s ease-out;
}

.divUser:hover button {
    background-color: #1b9aaa;
}
.fa-spinner{
    font-size: 25px;
}

/* Стилізація під телефон */
@media screen and (max-width: 960px) {
    h3 {
        font-size: 16px;
    }

    .divUser {
        width: 80%;
    }
}